/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap'); */
@theme {
  --color-black: black;
  --color-white: white;
  --color-pink-500: oklch(0.86 0.27 333.92); /* equivalent color */
  /* or use CSS standard color names for simplicity */
  /* --color-pink-500: #ec4899; */
}

:root {
  --font-figtree: 'Figtree', sans-serif;

}
/* html {
  font-family: var(--font-urbanist);
} */
html {
  font-family: 'Figtree', sans-serif;
}

/* Add Urbanist font class for headings or specific sections */
.font-urbanist {
  font-family: 'Urbanist', sans-serif;
}